/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* Styling */

:root {
    font-family: 'Roboto Flex', system-ui, sans-serif;

    --color-white: oklch(1 0 0);
    --color-black: oklch(0 0 0);
    --color-baltic-blue: oklch(0.4869 0.1247 254.56);
    --color-amber-glow: oklch(0.7956 0.1623 68.53);
    --color-platinum: oklch(0.9461 0 0);
    --color-baltic-blue-highlight: oklch(0.4869 0.1247 254.56 / .8);
    --color-highlight: oklch(1 0 0 / .2);
    --color-shadow: oklch(0 0 0 / .2);

    --border-radius: 4px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 12rem 1fr;
    background: var(--color-platinum);
}

.sidebar {
    grid-row: 1 / -1;
    padding: 1rem;
    display: grid;
    align-content: start;
    gap: 3rem;
    background: var(--color-baltic-blue);
    color: var(--color-white);
}

.sidebar-title {
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 1rem;
}

.sidebar-nav-item {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    padding: .5rem;
    padding-left: .75rem;
    gap: 1.75rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.5rem;
}

.sidebar-nav-item:hover {
    background-color: var(--color-highlight);
}

.header {
    background: var(--color-white);
    box-shadow: 0px 2px 5px var(--color-shadow);
    padding: 1rem 2rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.header-top-row {
    display: grid;
    grid-template-columns: 24px 1fr 24px 48px auto;
    align-content: start;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 900;
}

input {
    border: none;
    border-radius: var(--border-radius);
    background: var(--color-platinum);
}

.header-bottom-row {
    display: grid;
    grid-template-columns: 64px 1fr repeat(3, 5rem);
    align-items: center;
    gap: 1rem;
}

.welcome-text {
    font-weight: 900;
}

.welcome-text-name {
    font-size: 1.5rem;
}

.header-button {
    background: var(--color-baltic-blue);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
    padding: .5rem;
    cursor: pointer;
}

.header-button:hover {
    background: var(--color-baltic-blue-highlight);
}

.main {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 20rem;
    gap: 1rem;
}

.projects {
    display: grid;
    gap: .5rem;
    align-content: start;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    grid-auto-rows: 15rem;
    gap: 1rem;
}

.project-card {
    background: var(--color-white);
    width: 30rem;
    height: 15rem;
    display: grid;
    grid-template-columns: .5rem 1fr;
    border-radius: var(--border-radius);
    box-shadow: 0px 5px 5px var(--color-shadow);
}

.color-strip {
    background: var(--color-amber-glow);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.card-content {
    padding: 2rem;
    display: grid;
}

.card-icons {
    display: grid;
    grid-template-columns: repeat(3, 24px);
    gap: 1rem;
    justify-content: end;
}

.other {
    display: grid;
    align-content: start;
    gap: 2rem;
}

.announcements {
    display: grid;
    grid-template-rows: auto 22rem;
    gap: .5rem;
}

.announcements-card {
    background: var(--color-white);
    box-shadow: 0px 5px 5px var(--color-shadow);
    border-radius: var(--border-radius);
    padding: 2rem;
    display: grid;
    gap: 1rem;
}

.announcement>hr {
    margin-top: 1rem;
    height: 1px;
    border: none;
    background: var(--color-platinum);
}

.trending {
    display: grid;
    grid-template-rows: auto 20rem;
    gap: .5rem;
}

.trending-card {
    background: var(--color-white);
    box-shadow: 0px 5px 5px var(--color-shadow);
    border-radius: var(--border-radius);
    display: grid;
    gap: 1rem;
    padding: 2rem;
    align-content: start;
}

.project {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 1rem;
}