*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    display: grid;
    grid: 10rem 1fr / 20rem 1fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: blue;
}

.header {
    background-color: green;
}

.main-content {
    background-color: violet;
}